<html>
<body bgcolor=#85C1E9>


    <center>
        
        <h1> CUSTOMER SEGMENTATION</h1><br>
        
        
          <form method="POST", action="{{url_for('man')}}">
              <b> Balance : <input type="text", name='BALANCE', placeholder="enter the balance"> <br><br>
                  Oneoff Purchases : <input type="text", name='ONEOFF_PURCHASES'> <br><br>
                  Installments Purchases : <input type="text", name='INSTALLMENTS_PURCHASES'> <br><br>
                  Oneoff Purchases Frequency : <input type="text", name='ONEOFF_PURCHASES_FREQUENCY'> <br><br>
                  Purchases Installments Frequency : <input type="text", name='PURCHASES_INSTALLMENTS_FREQUENCY'> <br><br>
                  Cash Advance Frequency : <input type="text", name='CASH_ADVANCE_FREQUENCY'> <br><br>
                  Cash Advance TRX : <input type="text", name='CASH_ADVANCE_TRX'> <br><br>
                  Credit Limit : <input type="text", name='CREDIT_LIMIT'> <br><br>
                  Payments : <input type="text", name='PAYMENTS'> <br><br>
                  Minimum Payments : <input type="text", name='MINIMUM_PAYMENTS'> <br><br>
                  PRC Full Payment : <input type="text", name='PRC_FULL_PAYMENT'> <br><br>
                  Tenure : <input type="text", name='TENURE'> <br><br><br></b>
                  <input type="submit", value='Predict!'>
        </form>
    
    </center>

</body>
    
</html>
         